In [24]:
import random
import json
import numpy as np
import pandas as pd

In [4]:
# read in id file
# see GenerateID.ipynb to generate ids
ids = []
file = open("id.txt", "r")
# read lines and strip newline
ids = file.readlines()
for i in range(len(ids)):
    ids[i] = ids[i].strip()


    
print(ids[:20])

['339452204954', '557610956080', '440869784283', '518332650411', '231857624626', '225844780186', '253795209201', '956522721205', '326839817935', '673004869800', '909076594118', '793708396846', '785004476473', '619061071719', '354389418015', '779780180629', '265642755648', '102647690264', '909180209608', '850925097056']

In [21]:
data = []

majors = ["Science", "Engineering", "Architecture", "HASS", "MGMT", "Info Technology"]
roles = ["Student", "Tutor", "Both"]
degree = ["Undergraduate", "Graduate"]

majors_prob = [0.35, 0.5, 0.04, 0.045, 0.04, 0.025]
roles_prob = [0.15, 0.15, 0.70]
degree_prob = [0.82, 0.18]

for i in range(len(ids)):
    # establish row of data
    row = []
    
    # add major
    index = np.random.choice(np.arange(0, 6), p=majors_prob)
    row.append(majors[index])
    
    #add role
    index = np.random.choice(np.arange(0, 3), p=roles_prob)
    row.append(roles[index])
    
    #add degree
    index = np.random.choice(np.arange(0, 2), p=degree_prob)
    row.append(degree[index])
    
    # add bio
    row.append("Generic Bio")
    
    #add to data
    data.append(row)

In [22]:
for i in range(10):
    print(data[i])
    print()

['MGMT', 'Student', 'Graduate', 'Generic Bio']

['Engineering', 'Tutor', 'Graduate', 'Generic Bio']

['Engineering', 'Both', 'Undergraduate', 'Generic Bio']

['Engineering', 'Both', 'Undergraduate', 'Generic Bio']

['Engineering', 'Both', 'Graduate', 'Generic Bio']

['Science', 'Both', 'Graduate', 'Generic Bio']

['Engineering', 'Both', 'Undergraduate', 'Generic Bio']

['Science', 'Both', 'Undergraduate', 'Generic Bio']

['Science', 'Both', 'Undergraduate', 'Generic Bio']

['Science', 'Both', 'Undergraduate', 'Generic Bio']

In [26]:
# columns for the data frame
columns = ["Major", "Role", "Degree", "Bio"]

In [27]:
# make dataframe

df = pd.DataFrame(data, columns=columns)
df.head()

         Major     Role         Degree          Bio
0         MGMT  Student       Graduate  Generic Bio
1  Engineering    Tutor       Graduate  Generic Bio
2  Engineering     Both  Undergraduate  Generic Bio
3  Engineering     Both  Undergraduate  Generic Bio
4  Engineering     Both       Graduate  Generic Bio

In [28]:
print(df)

           Major     Role         Degree          Bio
0           MGMT  Student       Graduate  Generic Bio
1    Engineering    Tutor       Graduate  Generic Bio
2    Engineering     Both  Undergraduate  Generic Bio
3    Engineering     Both  Undergraduate  Generic Bio
4    Engineering     Both       Graduate  Generic Bio
..           ...      ...            ...          ...
995  Engineering     Both  Undergraduate  Generic Bio
996  Engineering  Student  Undergraduate  Generic Bio
997         MGMT     Both  Undergraduate  Generic Bio
998      Science     Both  Undergraduate  Generic Bio
999  Engineering     Both  Undergraduate  Generic Bio

[1000 rows x 4 columns]

In [30]:
#output to json file
df.to_json("example_profiles.json", orient="index", indent = 1)