In [1]:
import json
import pandas as pd
import numpy as np
import random

In [10]:
# constant
NUM_REQUESTS = 100

In [2]:
# python script to generate some requests following the Requests structure in the Lifecycle.md file
data = []

# generate each row of data
for i in range(NUM_REQUESTS):
    row = []
    # assign random status
    r = random.randint(0, 1)
    if r == 0:
        row.append('close')
    else:
        row.append('open')
    
    # assign random state
    r = random.randint(0, 2)
    if r == 0:
        row.append('CANCELLED ASSIGNED')
    elif r == 1:
        row.append("ASSIGNED")
    else:
        row.append("FULFILLED")
    
    #assign random student id
    row.append(str(random.randint(100000000, 999999999)))
    # assign random tutor id
    tut = str(random.randint(1000000000, 9999999999))
    row.append(tut)
    
    # pinged, accepted, denied, and cancelled tutors (usually arrays but for now they will be single values)
    row.append(str(random.randint(1000000000, 9999999999)))
    row.append(tut)
    row.append(str(random.randint(1000000000, 9999999999)))
    row.append(str(random.randint(1000000000, 9999999999)))
    
    # generate random student and tutor rating
    row.append(np.random.choice(np.arange(1, 6), p=[0.2, 0.1, 0.1, 0.2, 0.4]))
    row.append(np.random.choice(np.arange(1, 6), p=[0.2, 0.1, 0.1, 0.2, 0.4]))
    
    # add to data array
    data.append(row)

In [3]:

# print first 10 rows of data array
print(data[:10])

[['close', 'ASSIGNED', '961802834', '6255131624', '2250673196', '6255131624', '6609864744', '9078135615', 5, 5], ['close', 'FULFILLED', '616157002', '3679161717', '1385867521', '3679161717', '7812848564', '7392926192', 1, 1], ['close', 'CANCELLED ASSIGNED', '413093069', '9837329265', '9603061037', '9837329265', '2621603041', '3880299635', 5, 5], ['close', 'ASSIGNED', '297060308', '1225019824', '7785700580', '1225019824', '6046830733', '7453068049', 5, 2], ['open', 'CANCELLED ASSIGNED', '999557045', '1935348882', '2079078786', '1935348882', '6635342623', '9802206974', 3, 5], ['open', 'FULFILLED', '880622091', '7629914180', '7449872657', '7629914180', '5330333995', '7103916576', 4, 4], ['open', 'FULFILLED', '185304445', '6892726191', '7438228480', '6892726191', '8451324215', '1005200466', 5, 1], ['close', 'FULFILLED', '247122515', '2806158883', '2224131594', '2806158883', '7280815550', '9926075096', 4, 1], ['close', 'FULFILLED', '112583001', '2268261193', '6832378032', '2268261193', '9628614374', '6448766801', 5, 5], ['close', 'ASSIGNED', '320353867', '3792065894', '5552910579', '3792065894', '9897133127', '1630125747', 4, 5]]

In [4]:
# columns for the data frame
columns = ["status", "state", "student", "tutor", "pinged_tutors", "accepted_tutors", "denied_tutors", "cancelled_tutors", "stu_rating", "tut_rating"]

In [5]:
# make dataframe

df = pd.DataFrame(data, columns=columns)
df.head()

,status,state,student,tutor,pinged_tutors,accepted_tutors,denied_tutors,cancelled_tutors,stu_rating,tut_rating
0,close,ASSIGNED,961802834,6255131624,2250673196,6255131624,6609864744,9078135615,5,5
1,close,FULFILLED,616157002,3679161717,1385867521,3679161717,7812848564,7392926192,1,1
2,close,CANCELLED ASSIGNED,413093069,9837329265,9603061037,9837329265,2621603041,3880299635,5,5
3,close,ASSIGNED,297060308,1225019824,7785700580,1225019824,6046830733,7453068049,5,2
4,open,CANCELLED ASSIGNED,999557045,1935348882,2079078786,1935348882,6635342623,9802206974,3,5

In [6]:
print(df)

   status               state    student       tutor pinged_tutors  \
0   close            ASSIGNED  961802834  6255131624    2250673196
1   close           FULFILLED  616157002  3679161717    1385867521
2   close  CANCELLED ASSIGNED  413093069  9837329265    9603061037
3   close            ASSIGNED  297060308  1225019824    7785700580
4    open  CANCELLED ASSIGNED  999557045  1935348882    2079078786
..    ...                 ...        ...         ...           ...
95  close  CANCELLED ASSIGNED  491202421  1077576945    1464118435
96  close  CANCELLED ASSIGNED  736280443  6554460876    8223345808
97  close  CANCELLED ASSIGNED  521201643  2379362306    9811262628
98  close  CANCELLED ASSIGNED  343615873  8716178104    3756977730
99  close           FULFILLED  750310996  2260123951    1794946767

   accepted_tutors denied_tutors cancelled_tutors  stu_rating  tut_rating
0       6255131624    6609864744       9078135615           5           5
1       3679161717    7812848564       7392926192           1           1
2       9837329265    2621603041       3880299635           5           5
3       1225019824    6046830733       7453068049           5           2
4       1935348882    6635342623       9802206974           3           5
..             ...           ...              ...         ...         ...
95      1077576945    6977173086       1467219683           5           4
96      6554460876    6457920892       9954007319           3           1
97      2379362306    1060190656       9318293845           1           5
98      8716178104    4499394563       5839431530           5           3
99      2260123951    1706013302       7594579140           5           5

[100 rows x 10 columns]

In [9]:
#output to json file
df.to_json("requests.json", orient="index", indent = 1)