In [1]:
import json
import pandas as pd
import numpy as np
import random

In [2]:
# read in id file
# see GenerateID.ipynb to generate ids
ids = []
file = open("id.txt", "r")
# read lines and strip newline
ids = file.readlines()
for i in range(len(ids)):
    ids[i] = ids[i].strip()


    
print(ids[:20])

['339452204954', '557610956080', '440869784283', '518332650411', '231857624626', '225844780186', '253795209201', '956522721205', '326839817935', '673004869800', '909076594118', '793708396846', '785004476473', '619061071719', '354389418015', '779780180629', '265642755648', '102647690264', '909180209608', '850925097056']

In [3]:
# constant
# generate a request for each id in ids file
# to change NUM_REQUESTS, change ID_COUNT when generating id text file
NUM_REQUESTS = len(ids)

In [4]:
# python script to generate some requests following the Requests structure in the Lifecycle.md file
data = []

# generate each row of data
for i in range(NUM_REQUESTS):
    row = []
    # assign random status
    r = random.randint(0, 1)
    if r == 0:
        row.append('close')
    else:
        row.append('open')
    
    # assign random state
    r = random.randint(0, 2)
    if r == 0:
        row.append('CANCELLED ASSIGNED')
    elif r == 1:
        row.append("ASSIGNED")
    else:
        row.append("FULFILLED")
    
    #assign random student id
    row.append(ids[random.randint(0, NUM_REQUESTS - 1)])
    # assign random tutor id
    tut = str(ids[random.randint(0, NUM_REQUESTS - 1)])
    row.append(tut)
    
    # pinged, accepted, denied, and cancelled tutors (usually arrays but for now they will be single values)
    row.append(ids[random.randint(0, NUM_REQUESTS - 1)])
    row.append(tut)
    row.append(ids[random.randint(0, NUM_REQUESTS - 1)])
    row.append(ids[random.randint(0, NUM_REQUESTS - 1)])
    
    # generate random student and tutor rating
    row.append(np.random.choice(np.arange(1, 6), p=[0.2, 0.1, 0.1, 0.2, 0.4]))
    row.append(np.random.choice(np.arange(1, 6), p=[0.2, 0.1, 0.1, 0.2, 0.4]))
    
    # add to data array
    data.append(row)

In [5]:

# print first 10 rows of data array
print(data[:10])

[['close', 'CANCELLED ASSIGNED', '190410739211', '514507470926', '262178723406', '514507470926', '487704839823', '843412692102', 1, 1], ['close', 'FULFILLED', '501233125204', '596345891396', '557610956080', '596345891396', '375755529049', '141365810034', 5, 2], ['open', 'FULFILLED', '432076874077', '577226305568', '536000238102', '577226305568', '191913380917', '967898307536', 1, 5], ['open', 'CANCELLED ASSIGNED', '473135247866', '555940543602', '690965507051', '555940543602', '424788232626', '518332650411', 2, 3], ['close', 'CANCELLED ASSIGNED', '638764653001', '117663491614', '848515983729', '117663491614', '959066110193', '773756748376', 4, 5], ['close', 'CANCELLED ASSIGNED', '141061564530', '481420883160', '558850183004', '481420883160', '214903713139', '734222440485', 2, 1], ['close', 'FULFILLED', '335136714316', '721897407744', '304111055536', '721897407744', '655949905375', '451841277413', 5, 5], ['open', 'CANCELLED ASSIGNED', '481716264942', '814160786684', '409375406822', '814160786684', '315448845422', '748895572617', 1, 5], ['open', 'FULFILLED', '853495805899', '113731104729', '639793927476', '113731104729', '735731764728', '952367960611', 5, 5], ['open', 'ASSIGNED', '663058207023', '948986014109', '526246366079', '948986014109', '291509170228', '233570760197', 4, 2]]

In [6]:
# columns for the data frame
columns = ["status", "state", "student", "tutor", "pinged_tutors", "accepted_tutors", "denied_tutors", "cancelled_tutors", "stu_rating", "tut_rating"]

In [7]:
# make dataframe

df = pd.DataFrame(data, columns=columns)
df.head()

,status,state,student,tutor,pinged_tutors,accepted_tutors,denied_tutors,cancelled_tutors,stu_rating,tut_rating
0,close,CANCELLED ASSIGNED,190410739211,514507470926,262178723406,514507470926,487704839823,843412692102,1,1
1,close,FULFILLED,501233125204,596345891396,557610956080,596345891396,375755529049,141365810034,5,2
2,open,FULFILLED,432076874077,577226305568,536000238102,577226305568,191913380917,967898307536,1,5
3,open,CANCELLED ASSIGNED,473135247866,555940543602,690965507051,555940543602,424788232626,518332650411,2,3
4,close,CANCELLED ASSIGNED,638764653001,117663491614,848515983729,117663491614,959066110193,773756748376,4,5

In [8]:
print(df)

    status               state       student         tutor pinged_tutors  \
0    close  CANCELLED ASSIGNED  190410739211  514507470926  262178723406
1    close           FULFILLED  501233125204  596345891396  557610956080
2     open           FULFILLED  432076874077  577226305568  536000238102
3     open  CANCELLED ASSIGNED  473135247866  555940543602  690965507051
4    close  CANCELLED ASSIGNED  638764653001  117663491614  848515983729
..     ...                 ...           ...           ...           ...
995  close           FULFILLED  426687251127  550783517791  424788232626
996  close            ASSIGNED  620197194595  759532029453  572407993694
997  close            ASSIGNED  894106900138  420226765933  656536465489
998   open  CANCELLED ASSIGNED  611143700687  196131462672  922894026397
999   open           FULFILLED  192281564003  227277317228  655949905375

    accepted_tutors denied_tutors cancelled_tutors  stu_rating  tut_rating
0      514507470926  487704839823     843412692102           1           1
1      596345891396  375755529049     141365810034           5           2
2      577226305568  191913380917     967898307536           1           5
3      555940543602  424788232626     518332650411           2           3
4      117663491614  959066110193     773756748376           4           5
..              ...           ...              ...         ...         ...
995    550783517791  709914818887     661807788596           2           5
996    759532029453  988475950455     550783517791           5           1
997    420226765933  758972459259     481420883160           5           4
998    196131462672  173670988122     622404639133           2           1
999    227277317228  633523973230     117667473274           1           4

[1000 rows x 10 columns]

In [9]:
#output to json file
df.to_json("requests.json", orient="index", indent = 1)